:root{
	--text-font:ui-serif,serif;
	--heading-font:ui-serif,serif;
	--light-background-color:#fdfff5;
	--light-text-color:#3b2f2f;
	--light-link-color:#c62b27;
	--light-highlight-background-color:#e2dcab;
	--light-highlight-color:#3b2f2f;
	--dark-background-color:#3b2f2f;
	--dark-text-color:#fdfff5;
	--dark-link-color:#39d4d8;
	--dark-highlight-background-color:#e2dcab;
	--dark-highlight-color:#3b2f2f;}

/* Reset */

*,
::before,
::after{
	box-sizing:border-box;
	margin:0;
	outline:0;
	border:0;
	padding:0;
	vertical-align:inherit;
	font:inherit;
	text-align:inherit;
	text-decoration:none;
	overflow-wrap:anywhere;}
menu,
ol,
ul{
	list-style:none;}
table{
	border-collapse:collapse;
	max-width:100%;}

/* Font families */

body{
	font-family:var(--text-font);}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family:var(--heading-font);}
pre,
code,
kbd,
samp{
	font-family:ui-monospace,monospace;}

/* Font sizes */

h1{
	font-size:2rem;}
h2{
	font-size:1.5rem;}
h3{
	font-size:1.2rem;}
h4{
	font-size:1rem;}
h5{
	font-size:0.85rem;}
h6{
	font-size:0.75rem;}
small{font-size:50%;}
sub,
sup{
	position:relative;
	vertical-align:middle;}
sub{bottom:-0.5em;}
sup{top:-0.5em;}

/* Line heights */

body{
	line-height:1.5rem;}
pre{
	line-height:1.25rem;}

/* Margins */

address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
main,
nav,
section,
blockquote,
dl,
figure,
figcaption,
hr,
menu,
ol,
p,
pre,
ul{
	margin:0 0 1rem 0;}
table{
	margin:0 auto 1rem auto;}

/* Borders */

blockquote{
	border-left:1px dashed;}

/* Padding */

body{
	padding:1rem;}
blockquote,
pre{
	padding:0 1rem;}
dd,
dl{
	padding-left:1rem;}
ol,
ul{
	padding-left:2rem;}
th,
td{
	padding:0.5rem;}

/* Overflow */

:root{
	overflow:auto;
	scroll-behavior:smooth;}
figure{
	overflow-x:auto;}
pre{
	overflow:auto;}

/* White space */

pre,
table{
	white-space:nowrap;}

/* List styling */

ol{
	list-style-type:decimal;}
ul{
	list-style-type:square;}

/* Font and text styling */

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th{
	font-weight:bolder;}
dt,
cite,
dfn,
em,
i,
var{
	font-style:italic;}
del,
s{
	text-decoration-line:line-through;
	text-decoration-style:solid;
	text-decoration-thickness:0.125rem;}
ins{
	text-decoration-line:overline;
	text-decoration-style:solid;
	text-decoration-thickness:0.125rem;}
u{
	text-decoration-line:underline;
	text-decoration-style:wavy;
	text-decoration-thickness:0.125rem;}

/* Links */

a{
	text-decoration-line:underline;
	text-decoration-style:solid;
	text-decoration-thickness:0.125rem;
	text-decoration-skip-ink:none;}
a:hover,
a:focus,
a:active{
	text-decoration-thickness:0.25rem;}
a:active{
	text-decoration-line:overline;}

/* Backgrounds and colors */

body{
	background-color:var(--light-background-color);
	color:var(--light-text-color);}
hr{
	background-color:var(--light-background-color);}
a{
	color:var(--light-link-color);
	background-color:inherit;}
::selection,
mark{
	background-color:var(--light-highlight-background-color);
	color:var(--light-highlight-color);}
@media (prefers-color-scheme:dark){
	body{
		background-color:var(--dark-background-color);
		color:var(--dark-text-color);}
	hr{
		background-color:var(--dark-background-color);}
	a{
		color:var(--dark-link-color);}
	::selection,
	mark{
		background-color:var(--dark-highlight-background-color);
		color:var(--dark-highlight-color);}}
/*
@supports (color-scheme:light dark) and
	(background-color:Canvas) and
	(color:CanvasText) and
	(background-color:Mark) and
	(color:MarkText){
	body{
		color-scheme:light dark;
		background-color:Canvas;
		color:CanvasText;}
	hr{
		background-color:CanvasText;}
	a{
		color:LinkText;
		background-color:Canvas;}
	a:active{
		color:ActiveText;}
	::selection,
	mark{
		background-color:Mark;
		color:MarkText;}}
*/
/* Special styling */

body>main>header{
	border-bottom:1px dashed;}
body>main>footer{
	border-top:1px dashed;}
.math{
	font-family:math,sans-serif;}
.no-margins{
	margin:0;}
.no-borders{
	border:none;}
.no-padding{
	padding:0;}
.no-bullets{
	list-style-type:none;}
.tabular{
	table-layout:fixed;}
.tabular>*{
	margin:1rem 0;}
.tabular>*:first-child{
	margin-top:0;}
.tabular>*:last-child{
	margin-bottom:0;}
@media all and (min-width:86ch){
	.horizontal{
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;}
	.horizontal>li{
		margin-right:1rem;}
	.horizontal>li:last-child{
		margin-right:0;}
	.tabular{
		display:table;
		border-collapse:collapse;
		max-width:100%;
		overflow-x:auto;}
	.tabular>*{
		display:table-row;
		margin-bottom:0;}
	.tabular>*>*{
		display:table-cell;
		padding:0 0.5rem;}
	.tabular>*>*:first-child{
		padding-left:0;}
	.tabular>*>*:last-child{
		padding-right:0;}}
	
/* Desktop */

@media all and (min-width:86ch){
	html{
		margin-left:calc(100vw - 100%);}
	body{
		padding:0;}
	main{
		margin:0 auto;
		padding:3ch;
		max-width:80ch;
		min-height:100vh;}}

/* Print */

@media print{
	@page{
		margin:0.5in;}
	body,
	main{
			margin:0;
			border:0;
			padding:0;
			background-color:transparent;
			color:#000;}
	main{
		max-width:auto;
		min-height:auto;}
	#main-nav,#main-footer{display:none;}}

