/* Variables */

:root{
	--font-family-text:system-ui,math,sans-serif;
	--font-family-quote:ui-serif,serif;
	--font-family-code:ui-monospace,monospace;}

/* Reset */

*,
::before,
::after{
	box-sizing:border-box;
	margin:0;
	outline:0;
	border:0;
	padding:0;
	vertical-align:inherit;
	font:inherit;
	text-align:inherit;
	text-decoration:none;
	overflow-wrap:anywhere;}
html{
	font:sans-serif 1rem normal normal normal normal 1;}
menu,
ol,
ul{
	list-style:none;}
table{
	border-collapse:collapse;
	max-width:100%;}

/* Typography */

footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
figure{
	break-inside:avoid;}
body{
	line-height:1.5;
	font-weight:normal;}
address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main,
nav,
section,
blockquote,
dl,
figcaption,
figure,
hr,
menu,
ol,
p,
pre,
ul,
caption,
table,
details{
	margin-bottom:0.75em;}
h1,
h2,
h3,
h4,
h5,
h6,
th,
:is(h1,h2,h3,h4,h5,h6,th) :is(dt,figcaption,a,b,strong,time,summary),
dt,
figcaption,
a,
b,
strong,
time,
summary{
	font-weight:bold;}
dt,
abbr,
cite,
dfn,
em,
i,
q,
var{
	font-style:italic;}
blockquote,
dd{
	padding-left:0.75em;}
td,
th{
	border:1px solid;}
dl{
	padding-left:0.75em;}
ol,
ul{
	padding-left:1.75em;}
a:hover,
a:focus{
	text-decoration:underline;}
td,
th{
	padding:0 0.75em;
	white-space:nowrap;
	vertical-align:middle;}
h1{font-size:1.625em;}
h2{font-size:1.375em;}
h3{font-size:1.125em;}
h4{font-size:1em;}
h5{font-size:0.875em;}
h6{font-size:0.75em;}
blockquote{border-left:1px solid;}
dd{margin-bottom:0.75em;}
figcaption{text-align:center;}
figure{
	overflow-x:auto;}
hr{
	margin:1em 0;
	border-top:1px solid;}
ol{list-style-type:decimal;}
p{text-indent:0.75em;}
pre{
	white-space:nowrap;
	overflow:auto;}
ul{list-style-type:square;}
mark{text-decoration:underline;}
s{text-decoration:line-through;}
small{font-size:50%;}
sub,
sup{
	position:relative;
	vertical-align:middle;}
sub{bottom:-0.5em;}
sup{top:-0.5em;}
@media all and (min-width:40em){
	h1{font-size:2em;}
	h2{font-size:1.5em;}
	h3{font-size:1.25em;}}
@media print{
	td,
	th{
		border:1pt solid;}
	blockquote{
		border-left:1pt solid;}
	hr{
		border-top:1px solid;}}

/* Layout */

html{
	overflow:auto;
	scroll-behavior:smooth;}
main{padding:0.75em;}
.avoid-break-inside{
	break-inside:avoid;}
.always-break-before{
	break-before:always;}
.always-break-after{
	break-after:always;}
.tabular{table-layout:fixed;}
.tabular>*{
	margin-bottom:0.5em;}
.horizontal.words{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;}
.horizontal.words>li{
	margin-right:1.5em;}
.horizontal.words>li:last-child{
	margin-right:0;}
@media all and (min-width:40em){
	.horizontal{
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;}
	.horizontal>li{
		margin-right:1.5em;}
	.horizontal>li:last-child{
		margin-right:0;}
	.spaced{
		justify-content:space-between;}
	.tabular{
		display:table;
		border-collapse:collapse;
		max-width:100%;
		overflow-x:auto;}
	.tabular>*{
		display:table-row;
		margin-bottom:0;}
	.tabular>*>*{
		display:table-cell;
		padding:0 0.75em;}
	.tabular>*>*:first-child{
		padding-left:0;}
	.tabular>*>*:last-child{
		padding-right:0;}}
@media screen and (min-width:52em){
	html{margin-left:calc(100vw - 100%);}
	body{padding:1em 0;}
	main{
		margin:0 auto;
		padding:3em;
		max-width:50em;
		min-height:calc(100vh - 2em);}}
@media print{
	@page{
		margin:3em;}
	html,
	body,
	main{
		margin:0;
		border:0;
		padding:0;
		background-color:transparent;
		color:#000;}
	main{
		max-width:auto;
		min-height:auto;}
	#main-nav,#main-footer{display:none;}}

/* Colors */

body{
	background-color:#fff;
	color:#000;}
a{
	color:#00f;}
a:active{
	color:#0f0;}

@media (prefers-color-scheme:dark){
	body{
		background-color:#000;
		color:#fff;}
	a{
		color:#07f;}
	a:active{
		color:#7f0;}}

::selection{
	background:#ff0;
	color:#000;}
mark{
	background-color:#ff0;
	color:#000;}

@supports (color-scheme:light dark) and
	(background-color:Canvas) and
	(color:CanvasText) and
	(background:Highlight) and
	(color:HighlightText) and
	(background-color:Mark) and
	(color:MarkText) and
	(color:LinkText) and
	(color:ActiveText){
	:root{
		color-scheme:light dark;}
	body{
		background-color:Canvas;
		color:CanvasText;}
	::selection{
		background:Highlight;
		color:HightlightText;}
	mark{
		background-color:Mark;
		color:MarkText;}
	a{
		color:LinkText;}
	a:active{
		color:ActiveText;}}

/* Styling */

body{
	font-family:var(--font-family-text);
	print-color-adjust:exact!important;}
mark{
	text-decoration:none;}
blockquote,
q{
	font-family:var(--font-family-quote);}
.code,
code,
kbd,
samp{
	font-family:var(--font-family-code);
	padding:0 0.25em;
	line-height:1.25;}
.max-width{
	width:100%;}
.no-margin{
	margin:0;}
.no-padding{
	padding:0;}
.top-border{
	border-top:1px solid;}
.bottom-border{
	border-bottom:1px solid;}	
.left-border{
	border-left:1px solid;}
.right-border{
	border-right:1px solid;}
.bordered{
	border:1px solid;}
.centered{
	margin:0 auto;}
.no-indent{
	text-indent:0;}
.centered-text{
	text-align:center;}
.middled-text{
	vertical-align:middle;}
.accented{
	border-left:0.375em solid;}
.margined{
	margin:0.75em;}	
.padded{
	padding:0.75em;}
.shaded{}
.single-spaced{
	line-height:1.0;}
.one-and-half-spaced{
	line-height:1.5;}
.double-spaced{
	line-height:2.0;}
.unbulleted{
	list-style-type:none;
	padding-left:0;}
.bordered-rows>li,
.bordered-rows>thead>tr,
.bordered-rows>tbody>tr{
	border-bottom:1px solid;}
.loading{
	opacity:0;
	visibility:hidden;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;}
.loaded{
	opacity:1;
	visibility:visible;
	transition:visibility 0s linear 0s,opacity 0.2s linear;}
@media print{
	main{
		border-top:none;}
	.bordered{
		border:1pt solid;}
	.top-border{
		border-top:1pt solid;}
	.bottom-border{
		border-bottom:1pt solid;}
	.left-border{
		border-left:1pt solid;}
	.right-border{
		border-right:1pt solid;}}

