@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:100;
	src:url('Lexend-Thin.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:200;
	src:url('Lexend-ExtraLight.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:300;
	src:url('Lexend-Light.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:400;
	src:url('Lexend-Regular.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:500;
	src:url('Lexend-Medium.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:600;
	src:url('Lexend-SemiBold.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:700;
	src:url('Lexend-Bold.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:800;
	src:url('Lexend-ExtraBold.woff2') format('woff2');}

@font-face{
	font-family:'Lexend';
	font-style:normal;
	font-weight:900;
	src:url('Lexend-Black.woff2') format('woff2');}


