:root,html{
	scroll-behavior:smooth;}
::selection{
	background:yellow;}
*,*::before,*::after{
	box-sizing:border-box;
	margin:0;
	outline:none;
	border:none;
	padding:0;
	background-color:inherit;
	color:inherit;
	font:inherit;
	vertical-align:baseline;}	
body{
	background-color:#eee;
	color:#111;
	font-family:'Blinker',sans-serif;
	line-height:1.5;}
main{
	padding:1em;}
h1,h2,h3,hr,p,ul,ol,table{margin:0.25em 0;}
h1,h2,h3{font-weight:bold;}
h1{
	font-size:2em;
	text-align:center;}
h2{
	font-size:1.5em;
	border-bottom:thin solid;}
h3{font-size:1em;}
hr{border-bottom:thin solid;}
ul{
	list-style-type:square;
	padding-left:1.25em;}
ol{padding-left:1.25em;}
a:link,a:visited{
	color:#07b;
	text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}
a:active{color:#0b7;}
strong{
	font-weight:bold;
	color:red;}
time,code,kbd,samp,pre{font-family:monospace;}
em{font-style:italic;}
table{
	border:thin solid;
	border-collapse:collapse;}
th{font-weight:bold;}
th,td{
	border:thin solid;
	padding:0 0.125em;}
.loading{
	opacity:0;
	visibility:hidden;
	transition:visibility 0s linear 0.25s,opacity 0.25s linear;}
.loaded{
	opacity:1;
	visibility:visible;
	transition:visibility 0s linear 0s,opacity 0.25s linear;}
#swoope-links,
ul.single-line-list,
ol.single-line-list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	list-style-type:none;
	padding-left:0;}
#swoope-links a{padding-left:0.25em;}
@media all and (min-width:40em){
	body{
		background-color:#777;}
	main{
		margin:1em auto;
		border:thin solid;
		max-width:40em;
		min-height:calc(100vh - 2em);
		background-color:#eee;}}
@media print{
	@page{
		margin:0;}
	body{
		font-size:12pt;
		color:#000;
		background-color:transparent;}
	main{
		margin:1em;
		max-width:auto;}}

