*,*::before,*::after{
	box-sizing:border-box;
	margin:0;
	outline:none;
	border:none;
	padding:0;
	background-color:inherit;
	color:inherit;
	font:inherit;
	vertical-align:baseline;}	

:root,html{
	overflow:auto;
	scroll-behavior:smooth;}
body{
	color:#111;
	background-color:#eee;
	font-family:'Blinker',sans-serif;
	line-height:1.5;}
main{
	border-top:0.5em solid #07b;
	padding:1em;}

::selection{
	background:yellow;}

h1,h2,h3,h4,nav,hr,p,ul,ol,figure,table{margin:0.25em 0;}
h1,h2,h3,h4{font-weight:bold;}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1.125em;}
h4{font-size:1em;}
hr{border-bottom:thin solid;}
ul,ol{padding-left:1.25em;}
ul{list-style-type:square;}
ol{list-style-type:decimal;}
table{
	border:thin solid;
	border-collapse:collapse;
	text-align:left;}
th{font-weight:bold;}
th,td{
	border:thin solid;
	padding:0 0.25em;
	vertical-align:middle;}
a:link,a:visited{
	color:#07b;
	text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}
a:active{color:#0b7;}
strong{
	font-weight:bold;
	color:red;}
b{font-weight:bold;}
em{font-style:italic;}
code,kbd,samp,pre{font-family:monospace;}
sub{
	vertical-align:sub;}
sup{
	vertical-align:super;}

.loading{
	opacity:0;
	visibility:hidden;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;}
.loaded{
	opacity:1;
	visibility:visible;
	transition:visibility 0s linear 0s,opacity 0.2s linear;}

.top-border{
	border-top:thin solid;}
.bottom-border{
	border-bottom:thin solid;}
.centered{
	margin:0.25em auto;}
.centered-text{
	text-align:center;}
.accented{
	border-left:0.25em solid #07b;
	padding-left:0.5em;}
.padded{
	padding:0.25em 0.5em;}
.shaded{
	background-color:#ddd;}

ul.unbulleted,
ol.unbulleted{
	list-style-type:none;
	padding-left:0;}
ul.horizontal,
ol.horizontal{
	display:flex;
	flex-wrap:wrap;}
ul.spaced,
ol.spaced{
	justify-content:space-between;}
ul.horizontal>li,
ol.horizontal>li{
	margin:0 1em 0 1em;}
ul.horizontal>li:first-child,
ol.horizontal>li:first-child,
ul.horizontal>li:last-child,
ol.horizontal>li:last-child{
	margin:0em;}
table.plain{
	margin:0.25em 0;
	border:none;}
table.plain th,
table.plain td{
	border:none;}

#main-header nav{
	margin:0;
	border:none;
	padding:0.25em 0;
	background-color:inherit;}

#main-header address ul{
	justify-content:space-evenly;}

#main-header address a{
	padding-left:0.25em;}

@media screen and (min-width:40em){
	:root,html{
		margin:0 0 0 calc(100vw - 100%);}
	body{
		background-color:#777;}
	main{
		margin:1em auto;
		border:thin solid black;
		border-top:0.5em solid #07b;
		max-width:40em;
		min-height:calc(100vh - 2em);
		background-color:#eee;}}

@media print{
	@page{
		margin:1em;}
	:root,html{
		margin:0;}
	body{
		margin:0;
		border:none;
		padding:0;
		font-size:12pt;
		color:#000;
		background-color:transparent;}
	main{
		margin:0;
		border:none;
		padding:0;
		max-width:auto;
		min-height:auto;
		background-color:transparent;}
	#main-nav{
		display:none;}}

