.resume{
	padding:0.5em;
	font-family:'Blinker',sans-serif;
	line-height:1.5;
	color:#111;
	background-color:#eee;}

.resume h1,
.resume h2,
.resume h3{
	margin:0.25em 0;}

.resume ul{
	margin:0;
	padding-left:1em;
	list-style-type:"\2013\2004";}

.resume h1{
	font-size:2em;
	background-color:#ddd;
	text-align:center;}

.resume h2{
	font-size:1.5em;
	border-bottom:thin solid;}

.resume h3{
	font-size:1.125em;}

.resume a,
.resume a:visited{
	color:#11e;
	text-decoration:none;}

.resume a:hover,
.resume a:focus{
	text-decoration:underline;}

.resume a:active{
	color:#1b1;}

.resume-header>address{
	display:flex;
	flex-flow:row wrap;
	font-style:normal;
	justify-content:center;}

.resume-header>address>ul{
	display:flex;
	flex-flow:row wrap;
	margin:0 -0.5em;
	padding:0;
	list-style-type:none;}

.resume-header>address>ul>li{
	margin:0 0.5em;}

.resume-skills>ul{
	display:flex;
	flex-flow:row wrap;
	margin:0 -0.25em;
	padding:0;
	list-style-type:none;}

.resume-skills>ul>li{
	display:inline-block;
	margin:0 0.25em;}

.resume-projects>section>ul:first-of-type{
	display:flex;
	flex-flow:row wrap;
	margin:0 -0.5em;
	padding:0;
	list-style-type:none;}

.resume-projects>section>ul:first-of-type>li{
	display:inline-block;
	margin:0 0.5em;}

.resume-experience>section>ul:first-of-type,
.resume-education>section>ul:first-of-type{
	display:flex;
	padding:0;
	justify-content:space-between;
	list-style-type:none;}

@media all and (min-width: 51em) {
	body{
		background-color:#ccc;}
	.resume{
		margin:1em auto;
		border:thin solid;
		padding:1em;
		max-width:51em;
		max-height:66em;
		box-shadow:0 0.25em 1em;}
	.resume-body{
		display:flex;
		margin:0 auto;
		flex-flow:row wrap;
		justify-content:center;}
	.resume-left-column,
	.resume-right-column{
		display:flex;
		flex-flow:column wrap;
		margin:0 0.25em;
		width:calc(50% - 0.5em);}}

@media print{
	@page{
		margin:1em;}
	.resume{
		margin:0;
		border:none;
		padding:0;
		color:#000;
		background-color:transparent;
		box-shadow:none;}
	.resume-body{
		display:flex;
		margin:0 auto;
		flex-flow:row wrap;
		justify-content:center;}
	.resume-left-column,
	.resume-right-column{
		display:flex;
		flex-flow:column wrap;
		margin:0 0.25em;
		width:calc(50% - 0.5em);}	}
