::selection{
	background:yellow;}

body{
	background-color:#eee;
	color:#111;
	font-family:'Red Hat Text',sans-serif;}

h1,h2,h3,h4,h5,h6{
	font-family:'Red Hat Display',sans-serif;}

main{
	border-top:0.5em solid #07b;}

a{
	color:#07b;}
a:hover,
a:focus{
	color:#0b7;}
a:active{
	color:#b70;}

code{
	padding:0 0.5em;
	background-color:#ddd;}

.code{
	padding:0.5em;
	background-color:#ddd;
	line-height:1.0;
	font-family:monospace;}

.top-border{
	border-top:1px solid;}
.bottom-border{
	border-bottom:1px solid;}	
.left-border{
	border-left:1px solid;}
.right-border{
	border-right:1px solid;}
.bordered{
	border:1px solid;}
.centered{
	margin:0.25em auto;}
.centered-text{
	text-align:center;}
.accented{
	border-left:0.25em solid #07b;
	padding-left:0.5em;}
.padded{
	padding:0.25em 0.5em;}
.shaded{
	background-color:#ddd;}
.unbulleted{
	list-style-type:none;
	padding-left:0;}
.loading{
	opacity:0;
	visibility:hidden;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;}
.loaded{
	opacity:1;
	visibility:visible;
	transition:visibility 0s linear 0s,opacity 0.2s linear;}

@media screen and (min-width:52em){
	body{background-color:#777;}
	main{background-color:#eee;}}

@media screen and (prefers-color-scheme:dark){
	::selection{
		color:#111;}
	body{
		background-color:#111;
		color:#eee;}
	a{color:#0ae;}
	a:hover,
	a:focus{
		color:#0ea;}
	a:active{color:#ea0;}
	code{background-color:#222;}
	.code{background-color:#222;}
	main{border-top-color:#0ae;}
	.accented{border-left-color:#0ae;}
	.shaded{background-color:#222;}}

@media screen and (prefers-color-scheme:dark) and (min-width:52em){
	body{background-color:#333;}
	main{background-color:#111;}}
	
	
