:root{
	--color-dark-red:#800;
	--color-red:#b00;
	--color-light-red:#e00;
	--color-dark-yellow:#880;
	--color-yellow:#bb0;
	--color-light-yellow:#ee0;
	--color-dark-green:#080;
	--color-green:#0b0;
	--color-light-green:#0e0;
	--color-dark-cyan:#088;
	--color-cyan:#0bb;
	--color-light-cyan:#0ee;
	--color-dark-blue:#008;
	--color-blue:#00b;
	--color-light-blue:#00e;
	--color-dark-pink:#808;
	--color-pink:#b0b;
	--color-light-pink:#e0e;
	--color-black:#111;
	--color-dark-gray:#222;
	--color-medium-dark-gray:#333;
	--color-medium-light-gray:#ccc;
	--color-light-gray:#ddd;
	--color-white:#eee;
	--color-dark-accent:var(--color-dark-cyan);
	--color-accent:var(--color-cyan);
	--color-light-accent:var(--color-light-cyan);}

::selection{
	background:var(--color-light-yellow);}
mark{
	text-decoration:none;
	background-color:var(--color-light-yellow);}

body{
	background-color:var(--color-white);
	color:var(--color-black);
	font-family:'Red Hat Text',sans-serif;}

h1,h2,h3,h4,h5,h6{
	font-family:'Red Hat Display',sans-serif;}

.code,code,samp,kbd{
	font-family:'Red Hat Mono',monospace;
	background-color:var(--color-light-gray);}

main{
	border-top:0.5em solid var(--color-dark-accent);}
a{
	color:var(--color-dark-accent);}
a:active{
	color:var(--color-accent);}
code{
	padding:0 0.5em;}

.code{
	padding:0.5em;
	line-height:1.25;}
.max-width{
	width:100%;}
.top-border{
	border-top:1px solid;}
.bottom-border{
	border-bottom:1px solid;}	
.left-border{
	border-left:1px solid;}
.right-border{
	border-right:1px solid;}
.bordered{
	border:1px solid;}
.centered{
	margin:0.25em auto;}
.centered-text{
	text-align:center;}
.accented{
	border-left:0.25em solid var(--color-dark-accent);
	padding-left:0.5em;}
.padded{
	padding:0.25em 0.5em;}
.shaded{
	background-color:var(--color-light-gray);}
.unbulleted{
	list-style-type:none;
	padding-left:0;}
.bordered-rows>li,
.bordered-rows>thead>tr,
.bordered-rows>tbody>tr{
	border-bottom:1px solid;}
.loading{
	opacity:0;
	visibility:hidden;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;}
.loaded{
	opacity:1;
	visibility:visible;
	transition:visibility 0s linear 0s,opacity 0.2s linear;}

@media screen and (min-width:52em){
	body{
		background-color:var(--color-medium-light-gray);}
	main{
		background-color:var(--color-white);}}

@media screen and (prefers-color-scheme:dark){
	::selection{
		background:var(--color-yellow);
		color:var(--color-black);}
	mark{
		background-color:var(--color-yellow);
		color:var(--color-black);}
	body{
		background-color:var(--color-dark-gray);
		color:var(--color-white);}
	main{
		border-top-color:var(--color-light-accent);}
	a{
		color:var(--color-light-accent);}
	a:active{
		color:var(--color-accent);}
	.shaded,.code,code,samp,kbd{
		background-color:var(--color-medium-dark-gray);}
	.accented{
		border-left-color:var(--color-light-accent);}}

@media screen and (prefers-color-scheme:dark) and (min-width:52em){
	body{background-color:var(--color-black);}
	main{background-color:var(--color-dark-gray);}}
	
	
