body{line-height:1.5;font-weight:300;}

address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main,
nav,
section,
blockquote,
dl,
figcaption,
figure,
hr,
menu,
ol,
p,
pre,
ul,
caption,
table,
details{
	margin-bottom:0.25em;}

h1,
h2,
h3,
h4,
h5,
h6,
th,
:is(h1,h2,h3,h4,h5,h6,th) :is(dt,figcaption,a,b,strong,time,summary){
	font-weight:500;}

dt,
figcaption,
a,
b,
strong,
time,
summary{
	font-weight:400;}

dt,
abbr,
cite,
dfn,
em,
i,
q,
var{
	font-style:italic;}

code,
kbd,
samp{
	font-family:monospace;}

blockquote,
dd{
	padding-left:1em;}

td,
th{
	border:1px solid;}

ol,
ul{
	padding-left:2em;}

a:hover,
a:focus{
	text-decoration:underline;}

td,
th{
	padding:0 0.5em;}

h1{font-size:1.625em;}
h2{font-size:1.375em;}
h3{font-size:1.125em;}
h4{font-size:1em;}
h5{font-size:0.875em;}
h6{font-size:0.75em;}
blockquote{border-left:1px solid;}
dd{margin-bottom:0.5em;}
figcaption{text-align:center;}
figure{
	margin:0 auto 0.25em auto;
	padding:1em;}
hr{
	margin:1em 0;
	border-top:1px solid;}
ol{list-style-type:decimal;}
p{text-indent:1em;}
pre{
	white-space:nowrap;
	overflow:auto;}
ul{list-style-type:square;}
mark{text-decoration:underline;}
s{text-decoration:line-through;}
small{font-size:50%;}
sub,
sup{
	position:relative;
	font-size:0.5em;
	vertical-align:baseline;}
sub{bottom:-0.5em;}
sup{top:-0.5em;}

table{
	max-width:100%;
	overflow-x:auto;
	border-collapse:collapse;}

@media all and (min-width:40em){
	h1{font-size:2em;}
	h2{font-size:1.5em;}
	h3{font-size:1.25em;}}

